Package: mdebian-apt
Version: 1.0
Section: admin
Priority: optional
Architecture: all
Depends: apt
Maintainer: Michaël Roy <microygh@gmail.com>
Description: Custom APT configuration
 - Do not install recommended packages by default
 - Source servers located in France (main, contrib, non-free, backports)
