Package: mdebian-banner
Version: 1.0
Section: admin
Priority: optional
Architecture: all
Depends: base-files
Maintainer: Michaël Roy <microygh@gmail.com>
Description: Custom system banners
 - Remove the message of the day
 - Display the IP addresses of the host
